@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* all Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.main-section {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    margin: 0;
    /* border-radius: 10px; */
}

.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    /* box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff; */
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}



.logo {
    width: 80px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f,
        0px 0px 0px 5px #ecf0f3,
        8px 8px 15px #a7aaa7,
        -8px -8px 15px #fff;
}

.wrapper .name {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 20px;
    /* letter-spacing: 1.3px; */
    padding-left: 10px;
    color: rgb(0, 64, 119);
    margin: 10px;
    text-align: center;
    font-weight: 300;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
    outline: none;
}

.wrapper .form-field .fas {
    color: #555;
    outline: none;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #0070BA;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #039BE5;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

.wrapper a:hover {
    color: #039BE5;
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}

body {
    margin: auto;
    background-image: linear-gradient(21deg, rgba(0, 112, 186, 0.3) 68%, rgba(0, 64, 119, 0.5) 163%), linear-gradient(163deg, rgba(47, 180, 233, 0.07) 86%, rgba(86, 86, 85, 0.5) 40%), linear-gradient(30deg, rgba(47, 180, 233, 0.6) 22%, rgba(0, 64, 119, 0.5) 169%), linear-gradient(48deg, rgba(31, 85, 147, 0.7323890642) 64%, rgba(0, 64, 119, 0.99) 43%);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgba(243 243 243 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 12s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.7;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 15s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 19s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

#auth-menu{
    
    margin: auto;
    margin-top: 10%;
    
    width: 400px;
    height: 500px;
    background-color: #f7f7f7;
    transition-duration: 1s;
    border-left: solid #667eea 10px;
}


/* .input-auth{
    outline:none;
    outline-offset: 0;
    margin: auto;
    margin-top: 15px;
    background-color: #e7e7e7;;
    display: block;
    padding:8px;
    border: none;
    border-radius:5px;
    
    border-bottom: 3px solid #667eea96;
} */

.text-auth{
    font-family: "menu-fonts"; 
    font-weight: bold;
    text-align: center;
    font-size: 18px;

}
/* .button-ath{
    border:0;
    background-color: #343d63;
    color: white;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    margin: auto;
    font-size: 20px;
    transition-duration: 0.5s;
} */
.button-ath:hover{
   background-color: rgb(0, 112, 186);
}

#div-button{
    margin-top: 25px;
    text-align: center;
}


#register{
    text-decoration: none;
    color:rgb(47, 180, 233);
    display: block;
    margin-top: 25px;
}
#div-logo{
    padding-top: 15px;
    text-align: center;
}
